
body {
    font-family: Arial, sans-serif;
    margin: 0; padding: 0;
    background: #ffffff;
    color: #004B87;
}
header {
    background-color: #0284C7;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    height: 50px;
}
nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
}
main {
    padding: 40px 20px;
    text-align: center;
}
.btn {
    background-color: #F59E0B;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn:hover {
    background-color: #d87e04;
}
footer {
    background-color: #0284C7;
    color: white;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
